body {
    --nav-width: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    background-color: #394247;
}

h1 {
    font-family: Arial;
    font-size: 40px;
    color: #FFFF;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--navwidth);
    background-color:#858585;
    color:#d1940f;
}

.nav__link {
    color:#d1940f;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#5c5c5c;
    text-align: center;
}
.box input[type = "text"], .box input[type="password"], .box input[type="number"] {
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #d1940f;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.box input[type= "button"]{
    background-color: #2d3c42;
    border:0;
    border:2px solid #d1940f;
    color:white;
    padding: 10px 20px;
    border-radius: 24px;
    font-family: 'Courier New', Courier, monospace;
}

#error {
    color:#ff594a;
}
